@(nameForm: Form[models.UserName], message: String, users: List[models.UserName])

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/style.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("fonts/icomoon/style.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/owl.carousel.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/styleMenu.css")">
</head>
<body>

<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar" role="banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-11 col-xl-2">
                <h1 class="mb-0 site-logo"><a href="@routes.HomeController.indexv2" class="text-white mb-0">Brand</a></h1>
            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li class="active"><a href="@routes.HomeController.indexv2"><span>Home</span></a></li>
                        <li class="has-children">
                            <a href="about.html"><span>Dropdown</span></a>
                            <ul class="dropdown arrow-top">
                                <li><a href="#">Menu One</a></li>
                                <li><a href="#">Menu Two</a></li>
                                <li><a href="#">Menu Three</a></li>
                                <li class="has-children">
                                    <a href="#">Dropdown</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Menu One</a></li>
                                        <li><a href="#">Menu Two</a></li>
                                        <li><a href="#">Menu Three</a></li>
                                        <li><a href="#">Menu Four</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="listings.html"><span>Listings</span></a></li>
                        <li><a href="about.html"><span>About</span></a></li>
                        <li><a href="blog.html"><span>Blog</span></a></li>
                        <li><a href="contact.html"><span>Contact</span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
        </div>
    </div>
</header>

<img class="hero" src="@routes.Assets.versioned("images/EVENTOS.jpg")" alt="Eventos">

<!-- Campo de busca -->
<div>
    <input type="text" id="searchInput" placeholder="Buscar na tabela...">
</div>

<!-- Tabela com informações sobre Música, Eventos culturais e Cinema -->
<table id="infoTable">
    <tr>
        <th>Música</th>
        <th>Eventos culturais</th>
        <th>Cinema</th>
    </tr>
    <tr>
        <td>
            <div class="mybox">
                <div>
                    <img src="@routes.Assets.versioned("images/noticia-de-festival.jpg")" alt="Notícia de festival"> <br>
                    Data de Início: 28 Agosto 2024 <br>
                    Data de fim: 31 Agosto 2024<span id="span1">...</span>
                    <span class="mybox1" id="mybox1id">
                        Com um percurso firmado no roteiro nacional dos Festivais de Verão, o Festival do Crato está de regresso para mais uma edição a não perder! <br>
                        Este evento, que em agosto anima a vila do Crato no Alentejo, é conhecido por apostar em cartazes que integram alguns dos melhores projetos da música nacional e internacional. Depois dos concertos, a música continua com a atuação de diversos DJs. <br>
                        Paralelamente decorre a Feira de Artesanato e Gastronomia, uma mostra das artes e dos sabores tradicionais, com destaque para o que se produz nesta região. <br>
                        Para que não haja dificuldades de alojamento a organização disponibiliza uma zona de Campismo gratuito acessível com acesso garantido pelo passe de 4 dias.
                    </span>
                </div>
                <button id="mybuttonid">Ler mais</button>
            </div>
        </td>
        <td>
            <div class="mybox">
                <div>
                    <img class="culture" src="@routes.Assets.versioned("images/escultores.jpeg")" alt="Notícia Culturais">
                    <br>
                    Dias 7, 14, 21 e 28 de Julho<span id="span2">...</span>
                    <span class="mybox2" id="mybox2id">
                        No mês de Julho, aos domingos, os contos invadem os jardins do Lumiar! Uma programação d’A Algures em co-produção com a Junta de Freguesia do Lumiar e o apoio da Câmara Municipal de Lisboa que procura habitar os jardins de palavras e convidar todas as pessoas a trazer uma manta, pôr os pés na relva e escutar histórias. <br>
                        7-jul > 11:00 > Bru Junça > Cantos, Contos e Recontos > Alameda Roentgen <br>
                        14-jul > 11:00 > Nuno Cintrão > O canto dos pássaros > Museu do Teatro e da Dança <br>
                        21-jul > 11:00 > Cristina Taquelim > Histórias que cabem no ouvido > Jardim Professor Francisco Caldeira Cabral  <br>
                        28-jul > 11:00 > Maria João Miguel > O voo das palavras > Quinta das Conchas <br>
                        28-jul > 17:00 > Paula Cusati > Piquenique de livros > Quinta das Conchas <br>
                        28-jul > 18:00 > Ana Lage > Rodas cantadas > Quinta das Conchas <br>
                        <br>
                        A programação é toda gratuita, de entrada livre e aberta a todos!
                    </span>
                </div>
                <button id="mybuttonid2">Ler mais</button>
            </div>
        </td>
        <td>
            <div>
                <img src="@routes.Assets.versioned("images/cinema.jpg")" alt="Cinema">
            </div>
            <p>
                Estreia: 04-07-2024
            </p>
        </td>
    </tr>
</table>

<br>
@if(message != null && !message.isEmpty()) {
<div class="alert alert-success">
    <p>@message</p>
</div>
}

@if(nameForm.hasErrors()) {
<div class="alert alert-danger">
    <p><strong>O formulário contém erros:</strong></p>
    <ul>
        @for((key, errors) <- nameForm.errors()) {
        @for(error <- errors) {
        <li>@error.message</li>
        }
        }
    </ul>
</div>
}

@helper.form(routes.HomeController.submit()) {
<form method="post" action="@routes.HomeController.submit()">
    <div class="form-row">
        <label for="nameInput">Nome:</label>
        <input type="text" name="name" id="nameInput" class="input-field" placeholder="Digite seu nome...">
        <button type="submit">Enviar</button>
    </div>
</form>
}

<h2>Lista de Utilizadores</h2>
@if(users != null && !users.isEmpty()) {
<ul>
    @for(user <- users) {
    <li>@user.getName()</li>
    }
</ul>
} else {
<p>Nenhum utilizador encontrado.</p>
}

<script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/jquery.sticky.js")"></script>
<script src="@routes.Assets.versioned("javascripts/popper.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/main.js")"></script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Função para buscar na tabela
        document.getElementById('searchInput').addEventListener('keyup', function() {
            var input, filter, table, tr, th, i, txtValue;
            input = document.getElementById('searchInput');
            filter = input.value.toLowerCase();
            table = document.getElementById('infoTable');
            tr = table.getElementsByTagName('tr');

            // Iterar sobre todas as linhas da tabela
            for (i = 0; i < tr.length; i++) {
                th = tr[i].getElementsByTagName('th');

                // Verificar cada cabeçalho (th) na linha (tr)
                for (var j = 0; j < th.length; j++) {
                    txtValue = th[j].textContent || th[j].innerText;

                    // Verificar se o texto do cabeçalho corresponde ao filtro
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        tr[i].style.display = ''; // Mostrar a linha
                        break; // Sair do loop ao encontrar uma correspondência
                    } else {
                        tr[i].style.display = 'none'; // Ocultar a linha se não houver correspondência
                    }
                }
            }
        });
    });




</script>

@footer()
</body>
</html>
