<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="@routes.Assets.versioned("fonts/icomoon/style.css")">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">

    <!-- Style -->
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/styleFooter.css")">

</head>

<footer class="footer-39201">
    <div class="container">
        <div class="row">
            <div class="col-md mb-4 mb-md-0">
                <h3>Store</h3>
                <ul class="list-unstyled nav-links">
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Children</a></li>
                    <li><a href="#">New Arrivals</a></li>
                    <li><a href="#">Top Brands</a></li>
                    <li><a href="#">Special Offers</a></li>
                </ul>
            </div>
            <div class="col-md mb-4 mb-md-0">
                <h3>About</h3>
                <ul class="list-unstyled nav-links">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Clients</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Best sellers</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md mb-4 mb-md-0">
                <h3>Legal</h3>
                <ul class="list-unstyled nav-links">
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Legality</a></li>
                    <li><a href="#">Author License</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <h3>Subscribe</h3>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolor ducimus doloremque earum ullam. Architecto voluptatum odio magni.</p>
                <form action="#" class="subscribe">
                    <input type="text" class="form-control" placeholder="Enter your e-mail">
                    <input type="submit" class="btn btn-submit" value="Send">
                </form>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-12">
                <div class="border-top my-5"></div>
            </div>
            <div class="col-md-6">
                <p><small>&copy; 2024 All Rights Reserved.</small></p>
            </div>
            <div class="col-md-6 text-md-right">
                <ul class="social list-unstyled">
                   <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-pinterest"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-tiktok"></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/popper.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
